<div class="block-header text-center text-capitalize">
  <h2>
    <i class="md-edit c-indigo">
      <%= @scheme.title %>
    </i>
  </h2>
</div>

<div class="card">
  <div class="card-body card-padding">
    <%= form_for [current_project, @scheme], html: {class: 'form-horizontal label-left'} do |f| %>
    <% if @scheme.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@scheme.errors.count, 'error') %>
        prohibited this scheme from being saved:</h2>
      <ul>
        <% @scheme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="form-group">
      <%= f.label :title, 'Scoring Scheme Title', class: 'col-sm-5 control-label' %>
      <div class="col-sm-7">
        <%= f.text_field :title, class: 'fg-line form-control input-sm', placeholder: 'Enter Scoring Scheme Title' %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
    <% end  %>
  </div>
</div>