<div class="block-header text-center text-capitalize">
  <h2>
    <i class="md-sort c-indigo"><%= @scheme.title %></i>
  </h2>
</div>

<div class="card card-padding" ng-controller="ScoreSchemeEditorCtrl" ng-init="initialize(<%= current_project.id %>, <%= @scheme.id %>)">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-6">
        <%= link_to edit_project_score_scheme_path(current_project, @scheme), class: 'btn btn-primary pull-left m-b-5' do %>
        <i class="md-edit"></i>
        Edit Scoring Scheme
        <% end %>
      </div>
      <div class="col-sm-6">
        <a class="btn btn-success pull-right m-10" id="add-score-unit" ng-click="newScoreUnit()">
          <i class="md-add">New Score Unit</i>
        </a>
      </div>
    </div>
  </div>
  <%= render 'score_unit' %>
  <%= render 'single_select' %>
  <%= render 'multiple_select' %>
  <%= render 'multiple_select_sum' %>
  <%= render 'range' %>
  <%= render 'simple_search' %>

  <div class="card-body m-10" dir-paginate="unit in score_units | itemsPerPage: perPage" current-page="pagination.current" total-items="totalItems">
    <div class="listview lv-bordered lv-lg" ng-controller="ScoreUnitsCtrl" ng-init="initialize(
    <%= current_project.id %>, <%= @scheme.id %>, unit.id)">
      <div class="lv-item media">
        <div class="row">
          <div class="col-xs-1">
            <div class="btn btn-block text-center bgm-blue c-white" ng-click="editScoreUnit(unit)">
              {{$index + 1 + offset()}}
            </div>
            <div class="btn btn-block text-center bgm-red c-white" ng-click="deleteScoreUnit(unit)">
              <i class="md-delete"></i>
            </div>
          </div>
          <div class="col-xs-5">
            <div class="row">
              <label class="col-md-6 text-right" for="unit-question-type">Question Type</label>
              <div class="col-md-6 text-left">{{unit.question_type}}</div>
            </div>
            <div class="row">
              <label class="col-md-6 text-right" for="unit-score-type">Score Type</label>
              <div class="col-md-6 text-left">{{unit.score_type}}</div>
            </div>
            <div class="row">
              <label class="col-md-6 text-right" for="unit-min-score">Minimum Score</label>
              <div class="col-md-6 text-left">{{unit.min}}</div>
            </div>
            <div class="row">
              <label class="col-md-6 text-right" for="unit-max-score">Maximum Score</label>
              <div class="col-md-6 text-left">{{unit.max}}</div>
            </div>
            <div class="row">
              <label class="col-md-6 text-right" for="unit-score-weight">Score Weight</label>
              <div class="col-md-6 text-left">{{unit.weight}}</div>
            </div>
          </div>
          <div class="col-xs-3">
            <label class="row">Question Identifiers</label>
            <div ng-repeat="question in questions">
              <div>{{question.question_identifier}}</div>
            </div>
          </div>
          <div class="col-xs-3">
            <label class="text-center">Score Values and Their Options</label>
            <div ng-show="unit.score_type == 'multiple_select'" class="row" ng-repeat="(option_value, options) in option_scores | groupBy: 'value'">
              <label class="col-md-4">{{option_value}}</label>
              <div class="col-md-8">
                <span ng-repeat="option in options">
                  {{option.label}}{{$last ? '' : ', '}}
                </span>
              </div>
            </div>
            <div ng-show="unit.score_type == 'simple_search'" class="row" ng-repeat="option in option_scores">
              <label class="col-md-3">{{option.value}}</label>
              <div class="col-md-6">{{option.label}}</div>
              <div class="col-md-3">{{option.exists}}</div>
            </div>
            <!-- Default view -->
            <div ng-hide="unit.score_type == 'multiple_select' || unit.score_type == 'simple_search'" class="row" ng-repeat="option in option_scores">
              <label class="col-md-4">{{option.value}}</label>
              <div class="col-md-8">{{option.label}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <dir-pagination-controls max-size="maxNumOfLinks" direction-links="true" boundary-links="true" on-page-change="getScoreUnits(newPageNumber)"></dir-pagination-controls>
  </div>
</div>