<div class="block-header text-center text-capitalize">
  <h2>
    <i class="md-sort c-indigo"><%= @scheme.title %></i>
    <%= link_to edit_project_score_scheme_path(current_project, @scheme), class: 'btn btn-primary pull-right m-b-5' do %>
    <i class="md-edit"></i>
    Edit Scoring Scheme
    <% end %>
  </h2>
</div>

<div class="card card-padding" ng-controller="ScoreSchemeEditorCtrl" ng-init="initialize(<%= current_project.id %>, <%= @scheme.id %>)">

  <%= render 'score_unit' %>
  <%= render 'single_select' %>
  <%= render 'multiple_select' %>
  <%= render 'multiple_select_sum' %>

  <div class="card-body m-10" ng-repeat="unit in score_units">
    <div class="listview lv-bordered lv-lg" ng-controller="ScoreUnitsCtrl" ng-init="initialize(
    <%= current_project.id %>, <%= @scheme.id %>, unit.id)">
      <div class="lv-item media">
        <div class="row">
          <div class="col-xs-1">
            <div class="btn btn-block text-center bgm-blue c-white" ng-click="editScoreUnit(unit)">{{$index + 1}}
            </div>
            <div class="btn btn-block text-center bgm-red c-white" ng-click="deleteScoreUnit(unit)">
              <i class="md-delete"></i>
            </div>
          </div>
          <div class="col-xs-5">
            <div class="row">
              <label class="col-md-6 text-right" for="unit-question-type">Question Type</label>
              <div class="col-md-6 text-left">{{unit.question_type}}</div>
            </div>
            <div class="row">
              <label class="col-md-6 text-right" for="unit-score-type">Score Type</label>
              <div class="col-md-6 text-left">{{unit.score_type}}</div>
            </div>
            <div class="row">
              <label class="col-md-6 text-right" for="unit-min-score">Minimum Score</label>
              <div class="col-md-6 text-left">{{unit.min}}</div>
            </div>
            <div class="row">
              <label class="col-md-6 text-right" for="unit-max-score">Maximum Score</label>
              <div class="col-md-6 text-left">{{unit.max}}</div>
            </div>
            <div class="row">
              <label class="col-md-6 text-right" for="unit-score-weight">Score Weight</label>
              <div class="col-md-6 text-left">{{unit.weight}}</div>
            </div>
          </div>
          <div class="col-xs-3">
            <label class="row">Question Identifiers</label>
            <div ng-repeat="question in questions">
              <ul>{{question.question_identifier}}</ul>
            </div>
          </div>
          <div class="col-xs-3">
            <label class="text-center">Score Values and Their Options</label>
            <div ng-show="unit.score_type == 'multiple_select'" class="row" ng-repeat="(option_value, options) in option_scores | groupBy: 'value'">
              <label class="col-md-4">{{option_value}}</label>
              <div class="col-md-8">
                <span ng-repeat="option in options">
                  {{option.label}}{{$last ? '' : ', '}}
                </span>
              </div>
            </div>
            <div ng-show="unit.score_type == 'single_select' || unit.score_type == 'multiple_select_sum'" class="row" ng-repeat="option in option_scores">
              <label class="col-md-4">{{option.value}}</label>
              <div class="col-md-8">{{option.label}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-success pull-right m-10" id="add-score-unit" ng-click="newScoreUnit()">
    <i class="md-add">New Score Unit</i>
  </a>
  <div class="clearfix"></div>
</div>