<section>
  <div class="block-header text-center text-capitalize">
    <h2><i class="md-cloud-download c-indigo"> Rosters </i></h2>
  </div>

  <div class="card">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>UUID</th>
          <th>Identifier</th>
          <th>Time Created</th>
          <th>Instrument</th>
          <th>Instrument Version</th>
          <th>Surveys</th>
        </tr>
        </thead>
        <tbody>
        <% @rosters.each do |roster| %>
            <% if roster.instrument %>
                <tr>
                  <td><%= roster.uuid %></td>
                  <td><%= roster.identifier %></td>
                  <td><%= roster.created_at %></td>
                  <td><%= link_to roster.instrument_title, project_instrument_path(current_project, roster.instrument)
                  %></td>
                  <td><%= link_to roster.instrument_version_number, project_instrument_version_path(current_project,
                                                    roster.instrument, roster.instrument_version_number) %></td>
                  <td><%= link_to 'View Surveys', project_roster_surveys_path(current_project, roster) %></td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>