<div class="block-header text-center text-capitalize">
  <h2><i class="md-edit c-indigo"> Metric </i></h2>
</div>

<div class="card">
  <div class="card-body card-padding">
    <%= form_for [@project, @metric] do |f| %>
        <% if @metric.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@metric.errors.count, 'error') %> prohibited this metric from being saved:</h2>

              <ul>
                <% @metric.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-group">
          <div class="col-sm-2">
            <%= f.label :instrument_id, class: 'control-label' %>
          </div>
          <div class="col-sm-10">
            <%= f.select(:instrument_id, @project.instruments.collect { |i| [i.title, i.id] }, {}, {class: 'form-control'}) %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2">
            <%= f.label :name, class: 'control-label' %>
          </div>
          <div class="col-sm-10">
            <%= f.text_field :name, class: 'fg-line form-control input-sm' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2">
            <%= f.label :expected, 'Surveys Expected', class: 'control-label' %>
          </div>
          <div class="col-sm-10">
            <%= f.number_field :expected, class: 'fg-line form-control input-sm' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :key_name, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.select(:key_name, Settings.metric_keys, {}, {class: 'form-control'}) %>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit class: 'btn btn-success' %>
        </div>
    <% end %>
  </div>
</div>