<%= render partial: '/instruments/instrument_header', locals: {subtitle: "section name: #{@section.title}"} %>

<div class="card">
  <div class="card-body card-padding">
    <%= form_for([current_project, @instrument, @section]) do |f| %>
    <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %>
        prohibited this section from being saved:</h2>
      <ul>
        <% @section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :title, 'Section Title', class: 'control-label' %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="text-center">
        Questions in this section
      </div>
      <% @questions.each do |question| %>
      <div class="col-sm-4">
        <%= check_box_tag 'section[question_ids][]', question.id, @section.questions.include?(question) %>
        <%= question.question_identifier %>
      </div>
      <% end %>
    </div>
    <div class="clearfix"></div>
    <div class="pull-right">
      <%= f.submit class: 'btn btn-success btn-large' %>
    </div>
    <div class="clearfix"></div>
    <% end %>
  </div>
</div>