<div class="block-header text-center text-capitalize">
  <h2><i class="md-folder-shared c-indigo"> <%= @project.name %> </i></h2>
</div>

<div class="card">
  <div class="card-body card-padding">
    <%= form_for(@project) do |f| %>
        <% if @project.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@project.errors.count, 'error') %> prohibited this project from being saved:</h2>

              <ul>
                <% @project.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-group fg-line">
          <%= f.label :name, 'Project Name' %> <br/>
          <%= f.text_field :name, class: 'form-control input-sm', placeholder: 'Enter project name' %>
        </div>
        <div class="form-group fg-line">
          <%= f.label :description, 'Project Description' %> <br/>
          <%= f.text_area :description, class: 'form-control input-sm', placeholder: 'Enter project description' %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>