<section class="widget">
  <div class="row">
    <div class="col-md-6"><h4 class="pull-right"><i class="icon-edit"></i>Instruments</h4></div>
    <div class="col-md-6">
      <%= link_to project_export_responses_path(current_project) do %>
        <button class="btn btn-primary pull-right"><i class="md-import-export">Export All</i></button>
      <% end %>
    </div>
  </div>
  <div class="body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Instrument Id</th>
          <th>Current Version</th>
          <th>Created at</th>
          <th>Last updated</th>
          <th>Export Responses</th>
        </tr>
      </thead>
      <tbody>
        <% @instruments.each do |instrument| %>
        <% unless instrument.responses.empty? %>
        <tr>
          <td><%= link_to instrument.title, project_instrument_path(current_project, instrument) %></td>
          <td><%= instrument.id %></td>
          <td><%= instrument.current_version_number %></td>
          <td><%= instrument.created_at %></td>
          <td><%= instrument.updated_at %></td>
          <td><%= link_to 'Export Responses', export_responses_project_instrument_path(current_project, instrument) %></td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
