<section>
  <div class="block-header text-center">
    <h2><i class="md-phonelink c-indigo"> Device Syncs </i></h2>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Num of Complete Surveys</th>
        <th>Num of Incomplete Surveys</th>
        <th>Current Language</th>
        <th>Current Version Code</th>
        <th>Current Version Name</th>
        <th>OS Build Number</th>
        <th>Instrument Versions</th>
        <th>Timezone</th>
        <th>Sync Timestamp</th>
      </tr>
      </thead>
      <tbody>
      <% @device_sync_entries.each do |entry| %>
          <tr>
            <td><%= entry.latitude %></td>
            <td><%= entry.longitude %></td>
            <td><%= entry.num_complete_surveys %></td>
            <td><%= entry.num_incomplete_surveys %></td>
            <td><%= entry.current_language %></td>
            <td><%= entry.current_version_code %></td>
            <td><%= entry.current_version_name %></td>
            <td><%= entry.os_build_number %></td>
            <td>
              <% entry.instrument_versions['instrument_versions'].each_pair do |key, value| %>
                  <strong><%= key %></strong> (<%= value %>)<br/><br/>
              <% end %>
            </td>
            <td><%= entry.timezone %></td>
            <td><%= entry.created_at %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
