<%= render partial: '/instruments/instrument_header',
locals: {subtitle: "#{Settings.languages.to_h.key(@instrument_translation.language)} translation"} %>

<div class="card">
  <div class="card-body card-padding">
    <div class="block-header text-center">
      <div class="row">
        <strong class="col-md-4">Translation Language:</strong>
        <span class="col-md-8">
          <%= Settings.languages.to_h.key(@instrument_translation.language) %>
        </span>
      </div>
      <div class="row">
        <strong class="col-md-4">Active Translation:</strong>
        <span class="col-md-8">
          <%= @instrument_translation.active %>
        </span>
      </div>
      <div class="row">
        <strong class="col-md-4">Language Alignment:</strong>
        <span class="col-md-8">
          <%= @instrument_translation.alignment %>
        </span>
      </div>
      <div class="row">
        <strong class="col-md-4">Translated Title:</strong>
        <span class="col-md-8">
          <%= @instrument_translation.title %>
        </span>
      </div>
      <div class="row">
        <strong class="col-md-4">Translated Critical Message:</strong>
        <span class="col-md-8">
          <%= @instrument_translation.critical_message %>
        </span>
      </div>
    </div>
    <div class="row">
      <%= link_to 'Edit', edit_project_instrument_instrument_translation_path(current_project,
        @instrument, @instrument_translation), class: 'btn btn-primary pull-right' %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body card-padding">
    <div class="table-responsive">
      <table class="table table-hover fixed-wide">
        <thead>
          <tr>
            <th>Original Texts</th>
            <th><%= @instrument.language %></th>
            <th><%= @instrument_translation.language %></th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <% @instrument.questions.each do |question| %>
            <% if @instrument_translation.language_translation_for(question) %>
              <tr>
                <td><%= question.question_identifier %></td>
                <td><%= raw question.text %></td>
                <td><%= raw @instrument_translation.language_translation_for(question).try(:text) %></td>
                <td><a href="/question_translations/<%= @instrument_translation.language %>">Edit</td>
              </tr>
            <% end %>
            <% if question.options? %>
              <% question.options.each do |option| %>
                <tr>
                  <td>Option for <%= question.question_identifier %></td>
                  <td><%= option.text %></td>
                  <td><%= @instrument_translation.language_translation_for(option).try(:text) %></td>
                  <td><a href="/option_translations/<%= @instrument_translation.language %>">Edit</td>
                </tr>
              <% end %>
            <% end %>
            <% if question.instruction %>
              <tr>
                <td>Instructions for <%= question.question_identifier %></td>
                <td><%= question.instruction.text %></td>
                <td><%= @instrument_translation.language_translation_for(question.instruction).try(:text) %></td>
                <td><a href="/instruction_translations/<%= @instrument_translation.language %>">Edit</td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
