<div class="block-header text-center">
  <h2>
    <i class="md-language c-indigo">
      <%= link_to @instrument.title, project_instrument_path(current_project, @instrument) %>
    </i>
  </h2>
  <div class="row">
    <strong class="col-md-4">Translation Language:</strong>
    <span class="col-md-8">
      <%= @instrument_translation.language %>
    </span>
  </div>
  <div class="row">
    <strong class="col-md-4">Language Alignment:</strong>
    <span class="col-md-8">
      <%= @instrument_translation.alignment %>
    </span>
  </div>
  <div class="row">
    <strong class="col-md-4">Translated Title:</strong>
    <span class="col-md-8">
      <%= @instrument_translation.title %>
    </span>
  </div>
  <div class="row">
    <strong class="col-md-4">Translated Critical Message:</strong>
    <span class="col-md-8">
      <%= @instrument_translation.critical_message %>
    </span>
  </div>
</div>

<div class="card">
  <div class="card-body card-padding">
    <div class="table-responsive">
      <table class="table table-hover fixed-wide">
        <thead style="display: table-header-group">
          <tr style="page-break-inside: avoid">
            <th>Questions</th>
            <th><%= @instrument.language %></th>
            <th><%= @instrument_translation.language %></th>
          </tr>
        </thead>
        <tbody>
          <% @instrument.questions.each do |question| %>
          <tr style="page-break-inside: avoid">
            <td><%= question.question_identifier %></td>
            <td><%= raw question.text %></td>
            <td><%= raw @instrument_translation.translation_for(question).try(:text) %></td>
          </tr>
          <% if question.has_non_special_options? %>
          <% question.non_special_options.each do |option| %>
          <tr style="page-break-inside: avoid">
            <td>Option for
              <%= question.question_identifier %></td>
            <td><%= option.text %></td>
            <td><%= @instrument_translation.translation_for(option).try(:text) %></td>
          </tr>
          <% end %>
          <% end %>
          <% if question.starts_section? %>
          <tr style="page-break-inside: avoid">
            <td>Section starting with
              <%= question.question_identifier %></td>
            <td><%= question.section.title %></td>
            <td><%= @instrument_translation.translation_for(question.section).try(:text) %></td>
          </tr>
          <% end %>
          <% unless question.instructions.blank? %>
          <tr style="page-break-inside: avoid">
            <td>Instructions for
              <%= question.question_identifier %></td>
            <td><%= raw question.instructions %></td>
            <td><%= raw @instrument_translation.translation_for(question).try(:instructions) %></td>
          </tr>
          <% end %>
          <% if question.reg_ex_validation_message %>
          <tr style="page-break-inside: avoid">
            <td>Regular expression failure message for
              <%= question.question_identifier %></td>
            <td><%= raw question.reg_ex_validation_message %></td>
            <td><%= raw @instrument_translation.translation_for(question).try(:reg_ex_validation_message) %></td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>