<div ng-controller="QuestionsCtrl" ng-init="init(<%= @project.id %>, <%= @instrument.id %>)">
  <div class="card-header card-padding">
    <input type="search" ng-model="searchText" ui-keypress="{ 13 : 'searchItem()' }" placeholder="Search questions..." class="form-control bottom-buffer">
  </div>

  <div class="card-body card-padding">
    <div class="listview lv-bordered lv-lg">
      <div class="lv-body">
        <div ui-sortable="sortableOptions" ng-model="questions">
          <div class="lv-item media" ng-repeat="question in questions | orderBy:number_in_instrument">

            <div class="col-xs-3">
              <form ng-submit="repositionQuestion(question)">
                <div class="fg-line form-group">
                  <input type="text" class="form-control input-sm text-center" name="number-in-instrument" ng-model="question.number_in_instrument" required>
                </div>
              </form>
              <div class="btn-group m-t-5">
                <a class="btn btn-default btn-lg bgm-teal move-question"><i class="md-open-with"></i></a>
                <a class="btn btn-primary btn-lg m-l-5 m-r-5" ng-click="editQuestion(question)"><i class="md-mode-edit"></i></a>
                <a class="btn btn-danger btn-lg" ng-click="deleteQuestion(question)"><i class="md-delete"></i></a>
              </div>
            </div>

            <div class="col-xs-9">
              <div class="card" ng-hide="edit_question == question">
                <div class="card-header">
                  <div class="col-md-6 text-left"><h2><strong>{{question.question_identifier}}</strong></h2></div>
                  <div class="col-md-6 text-right"><h2><strong>{{question.question_type}}</strong></h2></div>
                </div>
                <div class="card-body card-padding">
                  <div ng-bind-html="question.text | ToTrustedHtml"></div>
                  <a class="btn btn-success pull-right" ng-click="newQuestion(question)" id="add-question-button">
                    <i class="md-add"> New Question </i>
                  </a>

                  <div class="clearfix"></div>
                </div>
              </div>

              <div ng-controller="OptionsCtrl" ng-init="init(<%= @project.id %>, <%= @instrument.id %>, question.id)">
                <div ng-show="edit_question == question">
                  <section class="card">
                    <div role="tabpanel">
                      <ul class="tab-nav" role="tablist">
                        <li class="active waves-effect">
                          <a href=".tab-general" role="tab" data-toggle="tab">General</a>
                        </li>
                        <li class="waves-effect"><a href=".tab-logic" role="tab" data-toggle="tab">Logic</a></li>
                        <li class="waves-effect"><a href=".tab-advanced" role="tab" data-toggle="tab">Advanced</a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <%= render 'questions_form_body_tab' %>
                        <%= render 'questions_form_logic_tab' %>
                        <%= render 'questions_form_advanced_tab' %>
                        <div class="clearfix"></div>
                        <div class="form-actions m-10">
                          <a class="btn btn-success" id="save-question" ng-click="saveQuestion()" ng-disabled="question_form.$invalid">Save</a>
                          <a class="btn btn-danger" ng-click="cancelQuestion()">Cancel</a>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="pagination" ng-show="total_pages > 1">
      <li><a ng-click="setEndPages(1)"><i class="md-chevron-left"></i></a></li>
      <li><a ng-click="setPage(current_page - 1)"><i class="md-arrow-back"></i></a></li>
      <li ng-repeat="page in pages" ng-class="{ active: current_page == page }">
        <a ng-click="setPage(page)"> {{ page }} </a>
      </li>
      <li><a ng-click="setPage(current_page + 1)"><i class="md-arrow-forward"></i></a></li>
      <li><a ng-click="setEndPages(total_pages)"><i class="md-chevron-right"></i></a></li>
    </div>
    <div class="m-r-15" ng-show="questions.length == 0">
      <a class="btn btn-success pull-right" ng-click="newQuestion(null)" id="add-question-button"><i class="md-add"></i>
        Add Question</a>

      <div class="clearfix"></div>
    </div>
  </div>
</div>