<%= render partial: 'instrument_header', locals: {subtitle: @instrument.title} %>

<div class="card">
  <div class="card-body card-padding">
    <p>Pick a project to move the instrument,
      <i><%= @instrument.title %></i>, to:</p>
    <%= form_for @instrument, url: update_move_project_instrument_path(current_project, @instrument) do |f| %>
    <% @projects.each do |project| %>
    <% unless project == current_project %>
    <%= radio_button_tag(:end_project, project.id) %>
    <span class="m-10"></span>
    <%= label_tag(:end_project, project.name) %>
  </br>
  <% end %>
  <% end %>
  <%= f.button :submit, class: 'btn btn-primary btn-large pull-right' %>
  <div class="clearfix"></div>
  <% end %>
</div>
</div>