<div class="page-template">
  <div class='content'></div>
  <div class='pdf-footer'><span>Page </span></div>
</div>

<div id="pdf-content">
  <div class="text-center" style="margin-bottom:10px;">
    <div class="instrument-title"><%= @instrument.title %></div>
    <div class="instrument-sub-title"><%= @instrument.language_name(@language) %></div>
    <div class="instrument-sub-title"><%= "version #: #{@instrument.current_version_number}" %></div>
  </div>
  <% @instrument.displays.each do |display| %>
    <div class="display-title dontend"><%= raw display.translated_text(@language) %></div>
    <% display.instrument_questions.each do |instrument_question|%>
      <% next if instrument_question.country_specific(@language) %>
      <% instrument_question.display_instructions.each do |dis_ins| %>
        <div class="question dontsplit">
          <% if dis_ins.audible_list.include?('read-aloud') %>
            <%= '&#x261e;'.html_safe %> <%= raw dis_ins.translated_text(@language) %>
          <% elsif dis_ins.audible_list.include?('do-not-read-aloud') %>
            <%= '&#x26a0;'.html_safe %> <%= raw dis_ins.translated_text(@language) %>
          <% else %>
            <%= raw dis_ins.translated_text(@language) %>
          <% end %>
        </div>
      <% end %>
      <div class="question dontsplit">
        <div class="info">
          <div class="number"><%= "#{instrument_question.number_in_instrument})" %></div>
          <div class="identifier"><%= "q:#{instrument_question.identifier}" %></div>
        </div>
        <div class="question-content">
          <% if instrument_question&.question&.instruction %>
            <div><%= raw instrument_question&.question&.instruction&.translated_text(@language, @instrument) %></div>
            <div><%= raw instrument_question.translated_text(@language) %></div>
          <% else %>
            <div><%= raw instrument_question.translated_text(@language) %></div>
          <% end %>
          <div class="response-content">
            <% if instrument_question.question&.option_set&.instruction %>
              <div><%= raw instrument_question.question&.option_set&.instruction&.translated_text(@language, @instrument) %></div>
            <% end %>
            <% if instrument_question.non_special_options? %>
              <table style="width:100%;">
                <tbody>
                  <% instrument_question.non_special_options.each_with_index do |option, index| %>
                    <tr>
                      <% index_label = "#{instrument_question.letters[index]})" %>
                      <% if instrument_question.select_one_variant? %>
                        <td style="width:12%;"><%= '&#x274d;'.html_safe %> <%= index_label %></td>
                        <td><%= option.translated_text(@language, instrument_question) %></td>
                      <% elsif instrument_question.select_multiple_variant? %>
                        <td style="width:12%;"><%= '&#x2752;'.html_safe %> <%= index_label %></td>
                        <td><%= option.translated_text(@language, instrument_question) %></td>
                      <% elsif instrument_question.list_of_boxes_variant? %>
                        <td><%= index_label %> </td>
                        <td><%= option.translated_text(@language, instrument_question) %> ___________________________</td>
                      <% end %>
                    </tr>
                  <% end %>
                  <% option_count = instrument_question.non_special_options.size %>
                  <% if instrument_question.other? && instrument_question.select_one_variant? %>
                    <tr>
                      <td style="width:12%;"><%= '&#x274d;'.html_safe %> <%= "#{instrument_question.letters[option_count]})" %></td>
                      <td>Other ___________________________</td>
                    </tr>
                  <% elsif instrument_question.other? && instrument_question.select_multiple_variant? %>
                    <tr>
                      <td style="width:12%;"><%= '&#x2752;'.html_safe %> <%= "#{instrument_question.letters[option_count]})" %></td>
                      <td>Other ___________________________</td>
                    </tr>
                  <% elsif instrument_question.other? && instrument_question.list_of_boxes_variant? %>
                    <tr>
                      <td><%= "#{instrument_question.letters[option_count]}) " %></td>
                      <td>Other ___________________________</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% elsif instrument_question.question_type == 'DATE' %>
              <br><div>Day: ____ / Month: ____ / Year: ________ </div>
            <% elsif instrument_question.question_type == 'MONTH_AND_YEAR' %>
              <br><div>Year: ________ / Month: ____ </div>
            <% elsif instrument_question.question_type == 'YEAR' %>
              <br><div>Year: ________ </div>
            <% elsif instrument_question.question_type == 'TIME' %>
              <br><div>HH: ____ MM: ____ AM / PM </div>
            <% elsif instrument_question.question_type == 'INTEGER' %>
              <br><div>#____________________ </div>
            <% elsif instrument_question.question_type == 'DECIMAL_NUMBER' %>
              <br><div>#____________________.__________ </div>
            <% else %>
              <textarea rows="5" style="border:none;resize:none;width:100%;border-bottom:1pt solid #ccc;"></textarea>
            <% end %>
            <% unless instrument_question.special_options.blank? %>
              <div><%= strip_tags "Or: #{instrument_question.special_options.join(' / ')}" %></div>
            <% end %>
            <div class="skip-instructions">
              <% instrument_question.next_questions.group_by(&:next_question_identifier).each do |question_identifier, next_questions| %>
                <div><%= raw instrument_question.next_question_string(next_questions) %></div>
              <% end %>
              <%= raw instrument_question.multiple_skip_string %>
              <%= raw instrument_question.loop_string %>
              <% instrument_question.critical_responses.each do |critical_response| %>
                <span style="color:red;"><%= raw critical_response.caution_text(instrument_question, @language) %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script language="javascript">
  $(function() {
    var content_height = 1340;
    var page = 1;
  	function buildPdf() {
  		if($('#pdf-content').contents().length > 0) {
  			$page = $(".page-template:first").clone().addClass("page").css("display", "block");

        $page.find(".pdf-footer span").append(page);
  			$("body").append($page);
        page++;

  			$('#pdf-content').columnize({
  				columns: 2,
          buildOnce : true,
  				target: ".page:last .content",
  				overflow: {
  					height: content_height,
  					id: "#pdf-content",
  					doneFunc: function(){
  						buildPdf();
  					}
  				}
  			});
  		}
  	}
    buildPdf();
  });
</script>
