<!DOCTYPE html>
<html>
<head>
  <title>iSEE</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= wicked_pdf_stylesheet_link_tag "pdf" %>

</head>

<body ng-app="Survey">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark-blue">
    <div class="container">
    <a class="navbar-brand" href="/">iSEE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if current_user %>
        <ul class="navbar-nav mr-auto">
          <% if current_user.admin_user? %>
            <li class="nav-item">
              <a class="nav-link" href="/admin" target="_blank">Admin</a>
            </li>
          <% end %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Components
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" ui-sref="questionSets({})">Question Sets</a>
              <a class="dropdown-item" ui-sref="optionSets({})">Option Sets</a>
              <a class="dropdown-item" ui-sref="options({})">Options</a>
              <a class="dropdown-item" ui-sref="instructions({})">Instructions</a>
              <a class="dropdown-item" ui-sref="validations({})">Validations</a>
              <a class="dropdown-item" ui-sref="rules({})">Rules</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav m-auto order-last">
          <span class="btn btn-info m-1"><%= current_user.email %></span>
          <%= link_to('Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-danger m-1') %>
        </ul>
      <% end %>
    </div>
    </div>
  </nav>

<main role="main" class="container">
  <div class="jumbotron jumbotron-fluid">
      <%= yield %>
  </div>
</main>

<footer class="footer">
  <div class="container text-center">
    <span class="text-muted">
      This application is developed with the support of
      <%= link_to 'CHPIR', 'http://chpir.org/' %>
      and
      <%= link_to 'ADAPTLAB', 'http://adaptlab.org/' %>.
    </span>
  </div>
</footer>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load('visualization', '1', {'packages': ['corechart']});
</script>
<script>
    window._base_url = "<%= ENV['BASE_URL'] %>"
</script>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta charset="utf-8">

</body>
</html>
